<!DOCTYPE html>
<html ng-app >
<head>
	<title>Java Script Programming</title>
  <link rel="short icon" type="text/css" href="back.jpg">
	
<!-- this is style sheet -->
	<link rel="stylesheet" type="text/css" href="style.css">
  
<!-- this is Javascript sheet -->
  <script type="text/javascript" src="script.js"></script>
  
<!-- this is Bootsstrap -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
<!-- this is AngularJS -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
  </script>


 
</head>
<body    > 
	<!-- Inputs are outside to toggle everything -->
<input type="checkbox" id="toggle-instructions">
<input type="radio" id="nav-Program1" name="nav" checked>
<input type="radio" id="nav-Program2" name="nav">
<input type="radio" id="nav-Program3" name="nav">
<input type="radio" id="nav-Program4" name="nav">
<input type="radio" id="nav-Program5" name="nav">
<input type="radio" id="nav-Program6" name="nav" >
<input type="radio" id="nav-Program6" name="nav" >
<input type="radio" id="nav-Program7" name="nav" >
<input type="radio" id="nav-Program8" name="nav" >
<input type="radio" id="nav-Program9" name="nav" >
<input type="radio" id="nav-Program10" name="nav" >
<input type="radio" id="nav-Program11" name="nav" >
<input type="radio" id="nav-Program12" name="nav" >
<input type="radio" id="nav-Program13" name="nav" >
<input type="radio" id="nav-Program14" name="nav" >
<input type="radio" id="nav-Program15" name="nav" >
<input type="radio" id="nav-Program16" name="nav" >
<input type="radio" id="nav-Program17" name="nav" >
<input type="radio" id="nav-Program18" name="nav" >
<input type="radio" id="nav-Program19" name="nav" >
<input type="radio" id="nav-Program20" name="nav" >
<input type="radio" id="nav-Program21" name="nav" >
<input type="radio" id="nav-Program22" name="nav" >
<input type="radio" id="nav-Program23" name="nav" >
<input type="radio" id="nav-Program24" name="nav" >
<input type="radio" id="nav-Program25" name="nav" >
<input type="checkbox" id="toggle-styleguide"/>
<div style="color: white" align="center"> <h1>JAVASCRIPT PROGRAMMING</h1></div>
<div id="window">
  <div id="normal-content">

    <div class="nav-cont">
      <div class="nav-contents">
         <div class="text-center text-light p-1 mb-3"><h4>Program list</h4></div>
       <nav style="width: 200px">
          <label href="#h1" class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program1">Program 1</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program2">Program 2</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program3">Program 3</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program4">Program 4</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program5">Program 5</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program6">Program 6</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program7">Program 7</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program8">Program 8</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program9">Program 9</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program10">Program 10</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program11">Program 11</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program12">Program 12</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program13">Program 13</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program14">Program 14</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program15">Program 15</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program16">Program 16</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program17">Program 17</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program18">Program 18</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program19">Program 19</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program20">Program 20</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program21">Program 21</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program22">Program 22</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program23">Program 23</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program24">Program 24</label>
    <label  class="btn btn-light btn-block" role="button" aria-pressed="true" for="nav-Program25">Program 25</label>
    </nav>
      </div>
    </div>
    <div id="content" align="center">
      <div id="content-Program1" >
        <h3><span class="font-lg title">User Name</span></h3>
        
		<form >
			<p>Enter Name :</p>
			<input type="text" ng-model="nameenter" placeholder="Enter anything" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty">
		</form>
		<br>
			<p>Output:
			</p>
			<p>Here Comes Input : {{nameenter}}
			</p>
		<form id="sprg">

		</form>
        
            
      </div>
      <div id="content-Program2">
        <h3><span class="font-lg title">Addition</span></h3>
         <form>
   <p>Enter First Number:</p> <input type="text" id="text1" maxlength="50" style="width: 200px" placeholder="Enter First Number"   ng-model="a1"><br><br>
  <p> Enter Second Number:</p> <input type="text" id="text2" maxlength="50"  style="width: 200px" placeholder="Enter Second Number"  ng-model="a2"><br/><br/>
    <span> Addition:{{ a1 -- a2 }}</span>
  </form>

        </div>
        <div id="content-Program3">
        <h3><span class="font-lg title">Multiplication</span></h3>
        <form>
   <p>Enter First Number:</p> <input type="text" id="text1" maxlength="50" style="width: 200px" placeholder="Enter First Number"   ng-model="m1"><br><br>
  <p> Enter Second Number:</p> <input type="text" id="text2" maxlength="50"  style="width: 200px" placeholder="Enter Second Number"  ng-model="m2"><br//><br//>
    <span> Addition:{{ m1 * m2 }}</span>
  </form>


        </div>
      <div id="content-Program4">
        <h3><span class="font-lg title">Check ODD or EVEN</span></h3>
        <form>
       <p>Enter The Number:</p> <input type="text" id="text9" maxlength="50" style="width: 200px" placeholder="Enter The Number"  ng-model="EO"><br />
       <br />
    <span> The Result:{{   EO%2 ? "Odd" : "Even" }}</span>
  </form>



        </div>
       <div id="content-Program5">
        <h3><span class="font-lg title">DIVISION</span></h3>
        <p> Enter First Number:</p>
    <input type="text" id="text7" maxlength="50" style="width: 200px" placeholder="Enter First Number"  ng-model="d1">
    <br><br>
    <p>Enter Second Number:</p>
    <input type="text" id="text8" maxlength="50"  style="width: 200px" placeholder="Enter Second Number" ng-model="d2">
    <br><br>

    <span>Division:{{ d1 / d2 }}</span>


        </div>


            
      <div id="content-Program6">
        <h3><span class="font-lg title">Area of circle</span></h3>
        <p>Enter The Radius Number:</p>
    <input type="text" id="text10" maxlength="50" style="width: 200px" placeholder="Enter The Radius Number"  ng-model="AC" ng-init="Value=0"><br><br>
    <span> The Result:{{   3.14 * AC * AC }}</span>


        </div>
      <div id="content-Program7">
        <h3><span class="font-lg title">Circumference</span></h3>
       <p>Enter The Radius Number:</p>
    <input type="text" id="text11" maxlength="50" style="width: 200px" placeholder="Enter  The Radius Number"  ng-model="CR"
      ng-init="Value=0"><br><br>
    <span> The Result:{{  2 *3.14 * CR  }}</span>

 </div>
      <div id="content-Program8">
        <h3><span class="font-lg title">Area of Square</span></h3>
        <p> Enter  The Area of Length:</p>
    <input type="text" id="text12" maxlength="50" style="width: 200px" placeholder="Enter  The Area of Length"  ng-model="AL" ng-init="Value=0"><br><br>
    <span> The Result:{{  AL * AL  }}</span>


        </div>
      <div id="content-Program9">
        <h3><span class="font-lg title">Area of Triangle</span></h3>
   <p>Enter The Length:</p>
    <input type="text" id="text15" maxlength="50" style="width: 200px" placeholder="Enter The Length"  ng-model="len1">
    <br><br>
    <p>Enter The Breath:</p>
    <input type="text" id="text16" maxlength="50"  style="width: 200px" placeholder="Enter The Breath" ng-model="bre1">
    <br><br>
        <span>The Result:{{ ( len1 * bre1 ) / 2 }}</span>


        </div>
      <div id="content-Program10">
        <h3><span class="font-lg title">Area of Rectangle</span></h3>
        <p> Enter The Length</p>
    <input type="text" id="text13" maxlength="50" style="width: 200px" placeholder="Enter The Length"  ng-model="len">
    <br><br>
    <p>Enter The Breath:</p>
    <input type="text" id="text14" maxlength="50"  style="width: 200px" placeholder="Enter The Breath" ng-model="bre">
    <br><br>
    <span>The Result:{{ len * bre }}</span> 



  

        </div>
         <div id="content-Program11">
        <h3><span class="font-lg title">Average of Three Number</span></h3>
        <p>Enter First Number:</p>
       <input type="text" name="number" id = "a1"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number" ng-model="av1"/>
       <br><br>
       <p>Enter Second Number:</p>
       <input type="text" name="number" id = "a2"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number" 
       ng-model="av2"/>
       <br><br>
       <p>Enter Third Number:</p>

       <input type="text" name="number" id = "a3"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number" 
       ng-model="av3"/>
       <br><br>
       <span>Sum {{(av1--av2 --av3)/3}}</span>


        </div>
        <div id="content-Program12">
        <h3><span class="font-lg title">Prime Number</span></h3>
       <p>Enter The Numbe:</p>
    
       <input type="text" name="number" id = "pri"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
       <br><br>
       <button onClick="Prime()">Run Program</button>
       <br><br>
       <span id="result1"> </span>


        </div>
      <div id="content-Program13">
        <h3><span class="font-lg title">Palindrome Number</span></h3>

    <p>Enter The Number:</p>
       <input type="text" name="number" id = "pali"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
         <br><br>
       <button onClick="Palindrome()">Run Program</button>
       <br><br>
       <span id="result2"> </span>


        </div>
    
      <div id="content-Program14">
        <h3><span class="font-lg title">Armstrong Number </span></h3>

       <p>Enter The Number:</p>
       <input type="text" name="number" id = "arm"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
         <br><br>
       <button onClick="Armstrong()">Run Program</button>
       <br><br>
       <span id="result3"> </span>


        </div>
      <div id="content-Program15">
        <h3><span class="font-lg title">PerfectNumber</span></h3>
        <p>Enter The Numbe:</p>
    
       <input type="text" name="number" id = "per"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
         <br><br>
       <button onClick="perfectNumber()">Run Program</button>
       <br><br>
       <span id="result4"> </span>


        </div>
      <div id="content-Program16">
        <h3><span class="font-lg title">Greatest in 3 Numbers</span></h3>
      <p>Enter  First Number:</p>
    
       <input type="text" name="number" id = "g1"  maxlength="50"  style="width: 200px"  placeholder="Enter  First Number"/>
       <br><br>
       <p>Enter Second Number:</p>
       <input type="text" name="number" id = "g2"  maxlength="50"  style="width: 200px"  placeholder="Enter Second Number"/>
       <br><br>
       <p>Enter Third Number:</p>
      <input type="text" name="number" id = "g3"  maxlength="50"  style="width: 200px"  placeholder="Enter  Third Number"/>
        <br><br>
      <button onClick="Greatest()">Run Program</button>
      <br><br>
       <span id="result5"> </span>


        </div>
      <div id="content-Program17">
        <h3><span class="font-lg title">Smallest in 3 Numbers</span></h3>

      
    <p>Enter  First Number:</p>
       <input type="text" name="number" id = "l1"  maxlength="50"  style="width: 200px"  placeholder="Enter  First Number"/>
       <br><br>
       <p>Enter Second Number:</p>
       <input type="text" name="number" id = "l2"  maxlength="50"  style="width: 200px"  placeholder="Enter Second Number"/>
       <br><br>
        <p>Enter Third Number:</p>
      <input type="text" name="number" id = "l3"  maxlength="50"  style="width: 200px"  placeholder="Enter  Third Number"/>
        <br><br>
      <button onClick="Smallest()">Run Program</button>
      <br><br>
       <span id="result6"> </span>


        </div>
      <div id="content-Program18">
        <h3><span class="font-lg title">Reversed Number</span></h3>
         
    <p> Enter The Number:</p>
       <input type="text" name="number" id = "rev"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
         <br><br>
       <button onClick="Reverse()">Run Program</button>
       <br><br>
       <span id="result7"> </span>



        </div>
      <div id="content-Program19">
        <h3><span class="font-lg title">Leap Year</span></h3>
        
     <p>Enter The Year:</p>
       <input type="text" name="number" id = "year"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Year"/>
         <br><br>
       <button onClick="Leap()">Run Program</button>
       <br><br>
       <span id="result8"> </span>


        </div>
      <div id="content-Program20">
        <h3><span class="font-lg title">Fibonacci</span></h3>
          <p>Enter The Number:</p>
    
       <input type="text" name="number" id = "fib"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
         <br><br>
       <button onClick="Fibonacci()">Run Program</button>
       <br><br>
       <span id="result9"> </span>


        </div>
      <div id="content-Program21">
        <h3><span class="font-lg title">Swap Two Number</span></h3>
        <p>Enter First Number</p>
       <input type="text" name="number" id = "s1"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
       <br><br>
       <p>Enter  Second Number</p>
       <input type="text" name="number" id = "s2"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
         <br><br>
       <button onClick="swap()">Run Program</button>
       <br><br>
       <span id="result11"> </span><br><br>
       <span id="result12"> </span>


        </div>
      <div id="content-Program22">
        <h3><span class="font-lg title">Number is +ve or -ve</span></h3>
        
    <p>Enter  The Number:</p>
       <input type="text" name="number" id = "pn"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
       <br><br>
       <button onClick="npn()">Run Program</button>
       <br><br>
       <span id="result10"> </span>


        </div>
      <div id="content-Program23">
        <h3><span class="font-lg title">Floyd Triangle</span></h3>
        <p>Enter  The Number:</p>
        <input type="text" name="number" id = "fn"  maxlength="50"  style="width: 200px"  placeholder="Enter  The Number"/>
          <br><br>
        <button onClick="nfn()">Run Program</button>
          <br><br>
         <span id="result20"> </span>
    



        </div>
      <div id="content-Program24"  >
        <h3><span class="font-lg title">Factorial Number</span></h3>
       
       <p>Enter The Number:</p>
    
      <input id="fact" ng-model="Value"  maxlength="50"  style="width: 200px"  placeholder="Enter  The number"  />
        <br><br>
        <!--<span>The Result: {{Value | factorial}}</span>-->



        
      </div>
         <div id="content-Program25">
        <h3><span class="font-lg title">Multiple of Three Number</span></h3>
        <p>Enter  First Number:</p>
       <input type="text" name="number" id = "m31"  maxlength="50"  style="width: 200px"  placeholder="Enter  First Number" ng-model="m31"/>
       <br><br>
       <p>Enter Second Number:</p>
       <input type="text" name="number" id = "m22"  maxlength="50"  style="width: 200px"  placeholder="Enter Second Number" 
       ng-model="m32"/>
       <br><br>
        <p>Enter Third Number:</p>
      <input type="text" name="number" id = "m33"  maxlength="50"  style="width: 200px"  placeholder="Enter  Third Number" 
      ng-model="m33"/>
        <br><br>
        <span>Result is:{{m31 * m32 * m33}}</span>
    



       
        </div>
      

      

  </div>
</div>

</body>
</html>